.input {
    width: 354px;
    height: 37px;
    background-color: var(--gray-bg-textfield);
    border: 1px solid var(--gray-br-textfield);
    border-radius: 3px;
    padding-left: 12px;

    &:focus {
        outline: 3px solid var(--secondary-color);
    }
}
.input-error{
    width: 354px;
    height: 37px;
    background-color: var(--gray-bg-textfield);
    border: 1px solid var(--gray-br-textfield);
    border-radius: 3px;
    padding-left: 12px;

    &:focus {
        outline: 3px solid red;
    }
}
.input-time {
    width: 70px;
    height: 37px;
    background-color: var(--gray-bg-textfield);
    border: 1px solid var(--gray-br-textfield);
    border-radius: 3px;
    padding-left: 12px;

    &:focus {
        outline: 3px solid var(--secondary-color);
    }
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #aaa;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    outline: none;
    transition: background-color 0.2s ease-out;
    background-color: var(--gray-bg-textfield);
    border: 1px solid var(--gray-br-textfield);
}

input[type="radio"]:checked {
    background-image: url("/radio.svg");
    background-size: 11px 11px;
    background-position: center;
    background-repeat: no-repeat;
}