:root {
    /*Colors*/
    --primary-color: #805EAB;
    --primary-color-medium: #9296CA;
    --primary-color-light: #F2EDFF;
    --secondary-color: #71D5D1;
    --secondary-color-light: #E5FFFE;
    --gray-dark: #9d9d9d;
    --gray-light: #EEEEEE;
    --gray-bg-textfield: #F0F0F0;
    --gray-br-textfield: #DCDCDC;
    --color-error: #AB5E5E;
    --white-color: #FFFFFF;
    --black-color: #000000;

    /*Shadows*/
    --shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);

    /*Fonts*/
    --font-montserrat: 'Montserrat';
    --font-montserratAlter: 'Montserrat Alternates';
}

$visibleAside: "visible";
@mixin hover-button {

    &:hover {
        background-color: var(--primary-color-light);
        border: var(--primary-color) 1px solid;
        color: var(--primary-color);
    }

}