@use "../../styles/config.scss" as conf;

.modal-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 596px;

    .modal-header {

        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-shadow: var(--shadow);


        p {
            justify-content: center;
            font-family: var(--font-montserratAlter);
            font-size: 20px;
            color: var(--white-color);
        }

        .close-modal-add {
            margin-right: 6px;
            font-weight: 500;
            border: 1px solid white;
            padding: 3px 8px 3px 8px;
            border-radius: 3px;
            @include conf.hover-button;
        }

        .icon-add {
            display: flex;
            gap: 20px;
        }

        button {
            color: var(--white-color);
            font-size: 20px;
            margin-left: 10%;
            cursor: pointer;
        }
    }
}
