
.modal-header {

    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 550px;

    p {
        justify-content: center;
        font-family: var(--font-montserratAlter);
        font-size: 20px;
        color: var(--white-color);
    }


    .icon-add {
        display: flex;
        gap: 20px;
    }

    button {
        color: var(--white-color);
        font-size: 20px;
        margin-left: 10%;
        cursor: pointer;
    }
}