@use "../../styles/config.scss" as conf;

.modal-header {

    background-color: conf.$primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 550px;

    p {
        justify-content: center;
        font-family: conf.$montserratAlter;
        font-size: 20px;
        color: conf.$white;
    }


    .icon-add {
        display: flex;
        gap: 20px;
    }

    button {
        color: conf.$white;
        font-size: 20px;
        margin-left: 10%;
        cursor: pointer;
    }
}